@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@font-face {
	font-family: Oswald; 
	src: url("../fonts/Oswald-VariableFont_wght.ttf");
} 

#big-heading {
	font-family: Oswald;
	font-weight: 500;
	line-height: 1.1;
	color: #636e72;
	font-size: 4.76vw;
	text-decoration: underline;
}


body {
	background-color: #fff;
}

.casescount{
	height: auto;
}

#countofCasesVal{
	background: #fdcb6e;
	color: #FFF;
	font-family:Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#countofCasesText{
	background: #ffeaa7;
	color: #fdcb6e;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#recovered{
	background: #e17055;
	color: #FFF;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
	vertical-align: middle;
	text-align: center;
	align-items: center;
}

#recovered img{
	vertical-align: middle;
}

#recover-img{
	width: 60px;
	height: 60px;
}

#deaths{
	background: #78e08f;
	color: #4d8257;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#deaths img{
	left: 5;
	top: 2;
}

/* New Cases */
#new{
	background:#d78ff9;
	color: #821eb4;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#newText{
	background: #d78ff9;
	color: #821eb4;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#new img{
	vertical-align: middle;
}

#new img{
	width: 60px;
	height: 60px;
}

/* New Recovery */
#newRecoveries{
	background:#fed2a48a;
	color: #ffbd86;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#newTextRecoveries{
	background: #fed2a48a;
	color: #ffbd86;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#newRecoveries img{
	vertical-align: middle;
}

#newRecoveries img{
	width: 60px;
	height: 60px;
}
 
/* New Deaths */
#newDeath{
	background: #cec4c6;
	color: #9e8f92;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#newTextDeath{
	background: #cec4c6;
	color: #9e8f92;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#newDeath img{
	vertical-align: middle;
}

#newDeath img{
	width: 60px;
	height: 60px;
} 

/* For Old Case */
#oldest, #oldest2{
	height: auto;
	background: #dfe6e9;
	color: #636e72;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#oldest2 img{
	width: 60px;
	height: 60px;
}

/* For Gender */
#gender{
	margin: 0 !important;
	vertical-align: middle;
	text-align: center;
	align-items: center;
}

#woman{
	background: #ffc9d3;
	color: #ef7d92;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#man{
	background: #d7f0fb;
	color: #66cdf7;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

/*Covid Trend*/
#monthly{
	font-family: Oswald;
	margin: 0 !important;
	height: 351px !important;
}
#monthlyCovidTrend, #showRegCount{
	margin: 0 !important;
	height: auto;
}
/*Region Count*/
#regionCount{
	font-family: Oswald;
	margin: 0 !important;
	height: 351px !important;
}

#heart{
	color: #d63031;
}

/*Pregnant Count*/
#pregnant{
	font-family: Oswald;
	margin: 0 !important;
}

#pregnantCaseCount{
	color: #e77587b3;
    font-family: Oswald;
    font-size: 4.4vw;
    margin: 0 !important;
    line-height: 1;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#pregnantCount{
	font-size: 7vw !important;
}

/*Average Age*/
#avgAge{
	font-family: Oswald;
	margin: 0 !important;
}

#AverageAgeShow{
	color: #5cbd88;
    font-family: Oswald;
    font-size: 4.4vw;
    margin: 0 !important;
    line-height: 1;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#AverageAgeShow #AverageAge{
	font-size: 7vw;
	color: #59b583;
}

/*Pop-up modal*/
button.confirm {
    height: auto;
}

@media screen and (min-width: 400px) {
	#recovered img{
		max-width: 30px !important;
		height: auto !important;		
	}
	#new img, #newRecoveries img, #newDeath img{
		max-width: 30px !important;
		height: auto !important;
		margin-bottom: 5px;
	}
	#newTextDeath, #newTextRecoveries, #newText {
		text-align: center !important;
	}

	#new, #newRecoveries, #newDeath{
		text-align: center !important;
	}
	#man img{
		max-width: 40px !important;
		height: auto !important;
	}
	#woman img{
		max-width: 40px !important;
		height: auto !important;
	}
	#monthlyCovidTrend img {
		max-width: 100%;
		height: auto;
	}
	#showRegCount img {
		max-width: 100%;
		height: auto;
	}
	#oldest{
		text-align: center;
	}
	#oldest2 img{
		max-width: 30px !important;
		height: auto !important;
	}
	#oldest2{
		text-align: center;
	}
	#pregnantCaseCount img{
		max-width: 30px !important;
		height: auto !important;
	}
}

/* Larger than desktop */
@media screen and (min-width: 1000px) {
	#recovered img{
		max-width: 60px !important;
		height: auto !important;		
	}
	#new img, #newRecoveries img, #newDeath img{
		max-width: 60px !important;
		height: auto !important;	
		margin-bottom: 5px;
	}
	#newTextDeath, #newTextRecoveries, #newText {
		text-align: right !important;
	}

	#new, #newRecoveries, #newDeath{
		text-align: left !important;
		padding-left: 15px !important;
	}
	#man img{
		max-width: 60px !important;
		height: auto !important;
	}
	#woman img{
		max-width: 60px !important;
		height: auto !important;
	}
	#monthlyCovidTrend img {
		max-width: 100%;
		height: auto;
	}	
	#showRegCount img {
		max-width: 100%;
		height: auto;
	}
	#oldest{
		text-align: right;
	}
	#oldest2 img{
		max-width: 60px !important;
		height: auto !important;
	}
	#oldest2{
		text-align: left;
	}
	#pregnantCaseCount img{
		max-width: 60px !important;
		height: auto !important;
	}
}