@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@font-face {
	font-family: Oswald; 
	src: url("../fonts/Oswald-VariableFont_wght.ttf");
} 

#big-heading {
	font-family: Oswald;
	font-weight: 500;
	line-height: 1.1;
	color: #636e72;
	font-size: 4.76vw;
	text-decoration: underline;
}


body {
	background-color: #fff;
}

.casescount{
	height: auto;
}

#countofCasesVal{
	background: #fdcb6e;
	color: #FFF;
	font-family:Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#countofCasesText{
	background: #ffeaa7;
	color: #fdcb6e;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#recovered{
	background: #e17055;
	color: #FFF;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
	vertical-align: middle;
	text-align: center;
	align-items: center;
}

#recovered img{
	vertical-align: middle;
}

#recover-img{
	width: 60px;
	height: 60px;
}

#deaths{
	background: #78e08f;
	color: #4d8257;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#deaths img{
	left: 5;
	top: 2;
}

	

#new{
	background:#8b82ff;
	color: #3f4fc1;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}
#newText{
	background: #a29bfe;
	color: #FFF;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}
  
#oldest{
	height: auto;
	background: #dfe6e9;
	color: #636e72;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#old-text{
   display: inline-block;
   vertical-align: middle;
}
#oldestCasetop, #oldestCase, #oldestCasebot {
   text-align:center;
   line-height:90%;
}
#oldestCasetop, #oldestCasebot{
    font-size: 2vw;   
}

#old-img{
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%;
	vertical-align: middle;
}


/* For Gender */
#gender{
	margin: 0 !important;
	vertical-align: middle;
	text-align: center;
	align-items: center;
}

#woman{
	background: #ffc9d3;
	color: #ef7d92;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#woman img{
	vertical-align: middle;
}

#man{
	background: #d7f0fb;
	color: #66cdf7;
	font-family: Oswald;
	font-size: 4.4vw;
	margin: 0 !important;
}

#man img{
	vertical-align: middle;
}
/*Covid Trend*/
#monthly{
	font-family: Oswald;
	margin: 0 !important;
}

#monthlyCovidTrend img {
    width: 460px;
    height: auto;
}


/*Region Count*/
#regionCount{
	font-family: Oswald;
	margin: 0 !important;
}

#showRegCount img {
    width: 460px;
    height: auto;
}


#heart{
	color: #d63031;
}



@media screen and (min-width: 400px) {
	#recovered img{
		max-width: 30px !important;
		height: auto !important;		
	}
	#man img{
		max-width: 40px !important;
		height: auto !important;
	}
	#woman img{
		max-width: 40px !important;
		height: auto !important;
	}
	#monthlyCovidTrend img {
		max-width: 100%;
		height: auto;
	}
	#showRegCount img {
		max-width: 100%;
		height: auto;
	}
}

/* Larger than desktop */
@media screen and (min-width: 1000px) {
	#recovered img{
		max-width: 60px !important;
		height: auto !important;		
	}
	#man img{
		max-width: 60px !important;
		height: auto !important;
	}
	#woman img{
		max-width: 60px !important;
		height: auto !important;
	}
	#monthlyCovidTrend img {
		max-width: 100%;
		height: auto;
	}	
	#showRegCount img {
		max-width: 100%;
		height: auto;
	}
}